{% extends 'base.html' %}

{% block content %}
	
{% for message in get_flashed_messages() %}

	<div class="alert alert-warning" role="alert">
  	Hey {{ name|title }}! -  {{ message }}
	</div>


	
{% endfor %}


{% if name %}
	<h1>Hello {{ name|title }}</h1>
	<br>
	<img src="{{ url_for('static', filename='images/Chris.png')}}">
	<br><br>
	<p id="demo">This is stuff...</p>

<script src="{{url_for('static', filename='js/myfile.js')}}"></script>

{% else %}
	<h1>What's your name?</h1>
	<br>
	<form method='POST'>
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}
		{{ form.name(class="form-control") }}
		<br>
		{{ form.submit(class="btn btn-secondary") }}
	</form>
		



{% endif %}
 {% endblock %}